<div class="nested-fields">
  <div class="field">
    <label> <b>Projeto: </b></label><br />
    <%= f.collection_select :project_id, Project.all.reject { |p| p.trackers.blank? }, :id, :name, {include_blank: true}, {onchange: 'updateForm();'} %><br /><br />
  </div>

  <% if f.object.project %>
    <div class="field">
      <label> <b>Tracker: </b></label><br />
      <%= f.collection_select :tracker_id, f.object.project.trackers.all, :id, :name, {include_blank: true}, {onchange: 'updateForm();'} %><br /><br />
    </div>

    <% if f.object.tracker %>
      <div class="field">
        <label> <b>Status From: </b></label><br />
        <%= f.collection_select :status_from_id, f.object.tracker.issue_statuses, :id, :name%><br /><br />
      </div>

      <div class="field">
        <label> <b>Status To: </b></label><br />
        <%= f.collection_select :status_to_id, f.object.tracker.issue_statuses, :id, :name %><br /><br />
      </div>
    <% end %>

    <div class="field">
      <label> <b><%= t('issue_status_trigger.send_email') %>: </b></label><br />
      <%= f.check_box :send_email %><br /><br />
    </div>

    <div class="field">
      <label> <b><%= t('issue_status_trigger.notify_on_previous_email') %>: </b></label><br />
      <%= f.check_box :notify_on_previous_email %><br /><br />
    </div>
  <% end %>

  <%= link_to_remove_association "auto_issue_remove_trigger", f %>
</div>
