<div>
  <div style="float: right;">
    <%= form_tag url_for(action: :create, controller: params[:controller], project_id: params[:project_id]), style: 'margin-right: 10px' do %>
      <%= submit_tag l(:export_template_label) %>
    <% end %>
    <%= form_tag url_for(action: :update, controller: params[:controller], project_id: params[:project_id]), multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag l(:import_template_label) %>
    <% end %>
    </div>
</div>
