<%= form_for(resource, html: {id: 'document_type_queries'}) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this configuracao from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset><legend><%= l(:label_trigger) %></legend>
    <div class="field">
      <label><b>Projeto: </b></label><br />
      <%= f.select :project_id, project_tree_options_for_select(Project.all, selected: f.object.project, include_blank: true) %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:all_projects_label) %></b></label><br />
      <%= f.check_box :all_projects %><br /><br />
    </div>

    <div class="field">
      <label><b>Tracker: </b></label><br />
      <%= f.collection_select :tracker_id, (resource.all_projects ? Tracker.all : Tracker.joins(:projects).where(projects: {id: resource.project_id })).uniq, :id, :name, include_blank: true %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:all_trackers_label) %></b></label><br />
      <%= f.check_box :all_trackers %><br /><br />
    </div>

    <div class="field">
      <label><b>Status From: </b></label><br />
      <%= f.collection_select :status_from_id, IssueStatus.all, :id, :name, include_blank: true %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:all_status_from_label) %></b></label><br />
      <%= f.check_box :all_status_from %><br /><br />
    </div>

    <div class="field">
      <label><b>Status To: </b></label><br />
      <%= f.collection_select :status_to_id, IssueStatus.all, :id, :name %><br /><br />
    </div>
  </fieldset>

  <fieldset><legend><%= l(:label_configuration) %></legend>
    <div class="field">
      <label><b><%= l(:not_found_status_label) %>:</b></label><br />
      <%= f.collection_select :not_found_status_id, IssueStatus.all, :id, :name %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:not_found_message_label) %>:</b></label><br />
      <%= f.text_area :not_found_message %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:not_found_custom_field_label) %>: </b></label><br />
      <%= f.collection_select :not_found_custom_field_id, f.object.tracker && ! f.object.all_trackers ? (f.object.tracker.custom_fields.where(field_format: 'text')) : IssueCustomField.where(field_format: 'text').all, :id, :name %><br /><br />
    </div>


    <div class="field">
      <label><b><%= l(:invalid_status_label) %>:</b></label><br />
      <%= f.collection_select :invalid_status_id, IssueStatus.all, :id, :name %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:invalid_message_label) %>:</b></label><br />
      <%= f.text_area :invalid_message %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:invalid_custom_field_label) %>: </b></label><br />
      <%= f.collection_select :invalid_custom_field_id, f.object.tracker && ! f.object.all_trackers ? (f.object.tracker.custom_fields.where(field_format: 'text')) : IssueCustomField.where(field_format: 'text').all, :id, :name %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:document_type_custom_field_label) %>: </b></label><br />
      <%= f.collection_select :document_type_custom_field_id, f.object.tracker && ! f.object.all_trackers ? (f.object.tracker.custom_fields) : IssueCustomField.all, :id, :name %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:document_custom_field_label) %>: </b></label><br />
      <%= f.collection_select :document_custom_field_id, f.object.tracker && ! f.object.all_trackers ? (f.object.tracker.custom_fields) : IssueCustomField.all, :id, :name %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:grid_item_custom_field_label) %>: </b></label><br />
      <%= f.collection_select :grid_item_custom_field_id, f.object.tracker && ! f.object.all_trackers ? (f.object.tracker.custom_fields) : IssueCustomField.where(field_format: 'grid').all, :id, :name %><br /><br />
    </div>

    <div class="field">
      <label><b><%= l(:item_custom_field_label) %>: </b></label><br />
      <%= f.collection_select :item_custom_field_id, IssueCustomField.all, :id, :name %><br /><br />
    </div>
  </fieldset>

  <fieldset><legend><%= l(:document_type_config) %></legend>
    <%= f.fields_for :document_type_query_configs do |external_query| %>
      <%= render 'document_type_query_configs_fields', f: external_query %>
    <% end %>

    <div class="links">
      <%= link_to_add_association t('document_type_query_add_document_type_query_configs'), f, :document_type_query_configs,
        partial: 'document_type_query_configs_fields' %>
    </div>
  </fieldset>

  <% if f.object.id %>
    <div class="actions">
      <%= f.submit l(:button_update) %>
    </div>
  <%else%>
    <div class="actions">
      <%= f.submit l(:button_create) %>
    </div>
  <%end%>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    function updateForm() {
      $.ajax({
        url: "<%= document_type_queries_form_form_path(format: 'js', id: params[:id]) %>",
        method: 'POST',
        data: $('#document_type_queries').serialize()
      });
    }
    $('#document_type_query_project_id').on('change', function() {
      updateForm();
    });
    $('#document_type_query_tracker_id').on('change', function() {
      updateForm();
    });
    $('#document_type_query_all_projects').on('change', function() {
      updateForm();
    });
    $('#document_type_query_all_trackers').on('change', function() {
      updateForm();
    });

  });
</script>
