<%= error_messages_for 'exec_job' %>
<h1><%= l(:exec_job_list_header) %></h1>

<%= render 'cruj_cruj_cruj/filters' %>

<br />
<br />

<%= render 'cruj_cruj_cruj/import_export_template' %>

<br />
<br />

<%= render 'cruj_cruj_cruj/list_table' %>
