<table>
  <tbody>
  <tr>
    <th><%= t('label_tracker') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_tracker_id]', options_from_collection_for_select(Tracker.all, :id, :name, settings['utilities_tracker_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.wating_status') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_wating_status_id]', options_from_collection_for_select(IssueStatus.all, :id, :name, settings['utilities_wating_status_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.robot_status') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_robot_status_id]', options_from_collection_for_select(IssueStatus.all, :id, :name, settings['utilities_robot_status_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.success_robot_status') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_success_robot_status_id]', options_from_collection_for_select(IssueStatus.all, :id, :name, settings['utilities_success_robot_status_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.error_robot_status') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_error_robot_status_id]', options_from_collection_for_select(IssueStatus.all, :id, :name, settings['utilities_error_robot_status_id']), include_blank: true %>
    </td>
  </tr>
  </tbody>
</table>

<hr />

<% @issue_custom_fields = IssueCustomField.all %>
<table>
  <tbody>
  <tr>
    <th><%= t('export_to_vale_sap_robot.empresa') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_empresa_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_empresa_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.cnpj_fornecedor') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_cnpj_fornecedor_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_cnpj_fornecedor_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.emissao') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_emissao_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_emissao_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.vencimento') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_vencimento_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_vencimento_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.referencia') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_referencia_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_referencia_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.valor_total_nf') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_valor_total_nf_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_valor_total_nf_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.pedido') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_pedido_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_pedido_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.tipo_cadastro') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_tipo_cadastro_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_tipo_cadastro_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.bloqueio') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_bloqueio_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_bloqueio_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.codigo_barras') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_codigo_barras_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_codigo_barras_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.texto') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_texto_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_texto_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.postagem') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_postagem_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_postagem_id']), include_blank: true %>
    </td>
  </tr>
  <tr>
    <th><%= t('export_to_vale_sap_robot.tipo_documento') %>:</th>
    <td>
      <%= select_tag 'settings[utilities_tipo_documento_id]', options_from_collection_for_select(@issue_custom_fields, :id, :name, settings['utilities_tipo_documento_id']), include_blank: true %>
    </td>
  </tr>
  </tbody>
</table>
